<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container  mt-3">
        <h1>Cargar Nuevo Producto</h1>
        <a href="/productos" class="btn btn-primary mb-3">ver productos</a>
        <form action="/productos" method="post" class="row g-3">
            <input type="text" placeholder="Ingrese titulo" name="title" class="form-control">
            <input type="text" placeholder="Ingrese url imagen" name="thumbnail" class="form-control">
            <input type="number" placeholder="Ingrese precio" name="price" class="form-control">
            <input type="submit" value="enviar" class="btn btn-primary mb-3">
        </form>
    </div>
</body>
</html>

